body {
    margin: 0;
    font-family: 'Georgia', serif;
    background-color: #f8f5f2;
    color: #4e4039;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.profile-image img {
    border: 5px solid #e4dcd6;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

.profile-info {
    margin-left: 40px;
}

.profile-info h1 {
    font-size: 3rem;
    margin: 0;
    color: #4e4039;
}

.profile-info h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    font-weight: normal;
    color: #4e4039;
}

.profile-info p {
    font-size: 1.1rem;
    line-height: 1.5;
}